.Section {
  font-family: sans-serif;
  margin-left: 15px;
  padding: 2px;
  display: grid;
  background: url('https://i.imgur.com/yOKOe8z.jpg');
  border: 4px outset gray;
  grid-template-columns: 130px 1fr;
  grid-gap: 5px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.Section-title {
  font-size: 20pt;
  font-weight: 200;
  grid-column: 1 / span 2;
  padding: 5px;
  border: 4px outset gray;
}

.Section img {
  border: 4px outset gray;
}

.Section-info {
  padding: 10px;
  border: 4px outset gray;
}
