body {
  min-height: 100vh;
  /*background: url('https://i.imgur.com/ofOCDFe.jpg');*/
  background: auto;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.App-header {
  color: white;
  height: 140px;
  padding: 10px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 20vw;
  margin-right: 20vw;
}

.App-title {
  text-align: center;
  font-size: 3.5em;
  font-weight: normal;
  font-family: sans-serif;
}

.App-library {
  margin-left: 20vw;
  margin-right: 20vw;
}
